<h1>List all the bikes</h1>

<div class="container">
    <%= @bikes.each do | bike | %>
        <div class="bikes-cards">
            <div class="picture">
                <%= bike.photo %>
            </div>
            <div class="info">
                <%= bike.brand %>
                <%= bike.description %>
                <%= bike.price %>
            </div>
        </div>
    <% end %>
</div>
