<h1>List all the bikes</h1>

<div class="container">
    <%= @bikes.each do | bike | %>
        <div class="bikes-cards">
            <%= bike.photo %>
            <%= bike.name %>
            <%= bike.brand %>
            <%= bike.description %>
            <%= bike.price %>
        </div>
    <% end %>
</div>