<div class="bike">
    <h1 class="m-3"><%= @bike.brand %></h1>
    <%# <p><%= image_tag @bike.photo, alt: 'Bike Photo', class: 'bike-image' %> </p>
    <img class="single-bike" src= <%= @bike.photo_url %> >
    <div class="bike-info m-3">
        <div class="text">
        <p><strong>Brand:</strong>
        <%= @bike.brand %></p>
        <p><strong>Description:</strong>
        <%= @bike.description %></p>
        <p><strong>Price:</strong> <%= @bike.price.round %>€ per day</p>
    </div>
        <div class="rent-btn">
            <%= link_to "Book now", new_bike_booking_path(@bike), class: "btn btn-primary border-0 shadow" %>
        </div>

    </div>



    <h2>Users reviews about this bike</h2>
    <div class="reviews">
        <div class="user-name-container">
            <a> <strong> <%= @bike.renter %> </strong> </a>
            <a>  <%= @bike.rating %>/5 </a>
        </div>
        <div class="user-review">
            <p> <em> " <%= @bike.review %> "</em> </p>
        </div>
    </div>
</div>
