<!DOCTYPE html>
<html>
  <head>
    <title>Bikebuddies</title>
    <%= favicon_link_tag asset_path("https://i.ibb.co/VMqQXPX/bikelogots.png") %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style type="text/css">body { cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAYAAAAHAAAAAAAAAA//////////////////////////////////////B/8H/vv++/39/f37/vv++/77/vvAG9773tve++6rvv3trb3+83Z7/wd3B//6+v//+vr///39v//8Ad//+/7f//v+P//w//////////////P////x////8P////B////wf///8='), auto; }</style>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <div class="container d-flex flex-column">
    <%= yield %>
  </div>
  </body>
</html>
